<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Why_Q</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand fw-bold logo-bold" href="index.html">Why_Q</a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="mailto:help@WhyQ.com">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="about.html" target="_blank">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Sign Up Form -->
    <div th:if="${error}"  class="alert alert-danger mt-3" th:text="${error}" role="alert"></div>
    <div class="container text-center mt-5 content">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5">
                <div class="card mb-4 rounded shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-3">Sign Up</h2>
                        <form id="signUpForm" action="/registerUser" method="POST">
                            <div class="form-group mb-3 text-left">
                                <label for="name" class="float-left">Name</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Name" autocomplete="off">
                                <small class="text-danger d-none" id="nameError">Name is required.</small>
                            </div>
                            <div class="form-group mb-3 text-left">
                                <label for="email">Email</label>
                                <input type="email"  name="email" class="form-control" id="email" placeholder="Enter email" autocomplete="off">
                                <small class="text-danger d-none" id="emailError">Please enter a valid email address.</small>
                            </div>
                            <div class="form-group mb-3 text-left">
                                <label for="password">Password</label>
                                <input type="password" name = "password" class="form-control" id="password" placeholder="Password" autocomplete="off">
                                <small class="text-danger d-none" id="passwordError">Password must be at least 6 characters long.</small>
                            </div>
                            <div class="form-group mb-3 text-left">
                                <label for="phone_number">Phone Number</label>
                                <input type="text" class="form-control" id="phone_number" name="phoneNumber" placeholder="Phone Number" autocomplete="off">
                                <small class="text-danger d-none" id="phoneError">Phone number must start with 6, 7, 8, or 9 and be 10 digits long.</small>
                            </div>
                            <button type="submit" class="btn btn-dark mt-2">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-dark text-white text-center py-2 mt-auto">
        <p>&copy; 2024 Why_Q. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- JavaScript Logic -->
    <script src="js/UserSignup.js">
        
    </script>
</body>

</html>